<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Private Semgrep Server</title>
        <style type="text/css">
          body{margin:40px auto;max-width:650px;line-height:1.6;font-size:18px;
          color:#444;padding:0 10px}h1,h2,h3{line-height:1.2}
        </style>
  </head>
  <body>
    <header>
      <h1>Private Semgrep Server</h1>
    </header>
    <h3>Policies</h3>
    <ul>
      {% for policy in info.policies %}
        <li><a href="/c/p/{{policy}}">/c/p/{{policy}}</a></li>
      {% endfor %}
    </ul>
    
    <h3>Rules</h3>
    <ul>
      {% for rule in info.rules %}
        <li><a href="/c/r/{{rule}}">/c/r/{{rule}}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
    